body {
    font-family: monospace;
    background-color: black;
    color: beige;
    padding: 1rem;
}
h1 {
    font-size: 1rem;
    text-align: center;
}
textarea, input, button {
    background-color: lightgray;
}
textarea, input {
    width: 100%;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 0.2em 0.5em;
}
button {
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: darkolivegreen;
    color: beige;
}
#output {
    background-color: black;
    border: 0;
    color: yellow;
    margin: 2rem 0;
    padding: 0;
}
#copyright {
    float: right;
    display: inline-block;
    padding: 0.4rem 0;
}
#copyright * {
    color: beige;
}
@media (min-width: 42rem) {
    h1 {
        font-size: 2rem;
    }
    textarea {
        font-size: 1.5rem;
    }
}